@import "./reset.less";

.index-page {
  padding: 10px;

  .icon-max {
    height: 60px;
    width: 60px;
    margin: 30px auto;
    background: url("../image/index/mf.png") center no-repeat;
    background-size: 60px 60px;
  }

  .describe {
    padding: 0 70px;
    line-height: 18px;
    font-size: 14px;
    text-align: center;
  }

  .info {
    color: #a0a0a0;
    font-size: 12px;
    line-height: 24px;
  }
}
